<div class="launch-item-container">
  <div class="launch-item-container__photo-container">
    <img
      [src]="launch.links.patch.small ? launch.links.patch.small : 'assets/images/icons/rocket.png'"
      alt="Image"
    />
  </div>
  <div class="launch-item-container__information">
    <div class="info">
      <img src="assets/images/icons/hash.png" alt="Number" class="info__icon" />
      <p class="info__text">{{ launch.flight_number }}</p>
    </div>
    <div class="info">
      <img src="assets/images/icons/rocket.png" alt="Name" class="info__icon" />
      <p class="info__text">{{ launch.name }}</p>
    </div>
    <div class="info">
      <img
        src="assets/images/icons/calendar.png"
        alt="Date"
        class="info__icon"
      />
      <p class="info__text">{{ launch.date_utc | date }}</p>
    </div>

    <button
      mat-stroked-button
      color="primary"
      [routerLink]="['/launch', launch.id]"
    >
      View More
    </button>
  </div>
</div>
