@import "/src/app/shared/styles/mixins.scss";

.heading {
  font-weight: bold;
  font-size: 3rem;
  position: relative;
  margin: 2rem 0;
  span {
    color: $secondary-color;
  }
  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 4px;
    top: -10px;
    background-color: $secondary-color;
  }
  @include md {
    text-align: center;
  }
}
.description {
  color: rgb(116, 116, 116);
  @include md {
    text-align: center;
  }
}
