.description-wrapper {
  margin: 3rem 2rem;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgb(179, 179, 179);
  .container {
    padding: 1rem;
    flex: 1;
    .image {
      width: 100px;
      height: 100px;
      margin: 1rem 0;
    }
    .title {
      font-size: 1.4rem;
      position: relative;
      &::before {
        content: "";
        top: -6px;
        position: absolute;
        width: 14%;
        height: 4px;
        background-color: #6f3bb8;
      }
    }
    .description {
      color: #747474;
    }
  }
}
