<div class="description-wrapper">
  <div class="container">
    <p class="title">Failure Details</p>
    <img class="image" src="assets/images/icons/error.png" alt="Failure" />
    <p class="description">{{ description[0] }}</p>
  </div>
  <div class="container">
    <p class="title">Rocket Details</p>
    <img class="image" src="assets/images/icons/rocket.png" alt="Rocket" />
    <p class="description">{{ description[1] }}</p>
  </div>
  <div class="container">
    <p class="title">Launchpad Details</p>
    <img class="image" src="assets/images/icons/location.png" alt="location" />
    <p class="description">{{ description[2] }}</p>
  </div>
</div>
