<div class="line"></div>
<div class="footer-container">
  <p>Designed and Coded by Patryk Basiak</p>
  <div links>
    <a target="blank" href="https://github.com/patrykbasiak?tab=repositories"
      ><img
        class="links__img"
        src="assets/images/icons/github.png"
        alt="GitHub" /></a
    ><a
      target="blank"
      href="https://www.linkedin.com/in/patryk-basiak-a8404a212/"
      ><img
        class="links__img"
        src="assets/images/icons/linkedin.png"
        alt="LinkedIn" /></a
    ><a target="blank" href="https://patrykbasiak.netlify.app/"
      ><img
        class="links__img"
        src="assets/images/icons/portfolio.png"
        alt="Portfolio"
    /></a>
  </div>
</div>
