@import "/src/app/shared//styles/mixins.scss";
.gallery-wrapper {
  margin: 3rem 2rem;
  padding: 2rem;
  border-radius: 1rem;
  @include md {
    margin: 1rem 0;
  }
}
gallery {
  background-color: transparent;
}

::ng-deep gallery-nav svg {
  background-color: rgb(173, 173, 173) !important;
}
