<form class="form-container" [formGroup]="searchForm">
  <div class="form-container__inputs">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Launch Name</mat-label>
      <input
        formControlName="launchName"
        type="text"
        matInput
        placeholder="Ex. Starlin"
      /> </mat-form-field
    ><mat-form-field appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input
          formControlName="startDate"
          matStartDate
          placeholder="Start date"
        />
        <input formControlName="endDate" matEndDate placeholder="End date" />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <mat-checkbox formControlName="success" class="example-margin">
      Show Successful Flights
    </mat-checkbox>
  </div>
  <div>
    <button (click)="search()" mat-stroked-button color="primary">
      Search
    </button>
    <button
      *ngIf="isSearchActive"
      (click)="clear()"
      mat-flat-button
      color="primary"
    >
      Clear
    </button>
  </div>
</form>
